@charset "utf-8";
@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$main:#4384F7;
$sub: #eaf5ff;
$grey: #989898;
$black:#343434;
$white:#fefefe;

/* 변수 */
@mixin flex($dir, $align, $justify, $wrap) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    @if($dir == row){
        -webkit-box-orient: horizontal;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    @if($dir == column){
        -webkit-box-orient: vertical;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    @if($align == start){
        -webkit-box-align: start;
        -moz-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    @if($align == center){
        -webkit-box-align: center;
        -moz-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    @if($align == end){
        -webkit-box-align: end;
        -moz-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }     
    @if($align == stretch) {
        -webkit-box-align: stretch;
        -moz-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }     
    @if($align == baseline) {
        -webkit-box-align: baseline;
        -moz-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    @if($justify == between){
        -webkit-box-pack: justify;
        -moz-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    @if($justify == around){
        -webkit-box-pack:justify;
        -moz-justify-content: space-around;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }
    @if($justify == center){
        -webkit-box-pack: center;
        -moz-box-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    @if($justify == start){
        -webkit-box-pack: start;
        -moz-box-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    @if($justify == end){
        -webkit-box-pack: end;
        -moz-box-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    @if($wrap == nowrap){
        -webkit-box-lines: single;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    @if($wrap == wrap){
        -webkit-box-lines: multiple;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@mixin grid($gjustify) {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    @if($gjustify == between){
        -webkit-box-pack: justify;
        -moz-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    @if($gjustify == around){
        -webkit-box-pack:justify;
        -moz-justify-content: space-around;
        -ms-flex-pack: justify;
        justify-content: space-around;
    }
    @if($gjustify == center){
        -webkit-box-pack: center;
        -moz-box-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    @if($gjustify == start){
        -webkit-box-pack: start;
        -moz-box-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    @if($gjustify == end){
        -webkit-box-pack: end;
        -moz-box-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

*{box-sizing: border-box;}
.container{width: 75%; height: 100%; margin: 0 auto;}
a{color: $black;}
h3{font: 4em 'establishRoomNo703OTF'; text-align: center; margin: 80px 0;}
h4{font: 2.5em 'establishRoomNo703OTF'; text-align: center; margin: 50px 0;}

body{
    width: 100%;
    color: $black; background: #fff;
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background: rgba($color: $main, $alpha: .8);
        opacity: .3; border-radius: 50px;
    }
    &::-webkit-scrollbar-track{
        background: rgba($color: #fff, $alpha: .2);
    }
    &::-webkit-scrollbar-button:end:increment{
        display:block; height:15px;
        background: url(../img/sort-down-solid.svg) no-repeat center -2px;
    }
    &::-webkit-scrollbar-button:start:decrement{
        display:block; height:15px;
        background: url(../img/sort-up-solid.svg) no-repeat center 2px;
    }
    &::-webkit-scrollbar-corner{
        background-color: red;
    }
    /* 스크롤바 스타일 */

    #quick{
        position: absolute; top: 0; left: 0;
        font-size: 0; z-index: 10; width: 100%; height: auto;
        li{
            background-color: $black;
            a{
                font-size: 0; display: block; text-align: center;
                &:focus{font-size: 16px; padding: 10px 0; color: $white;}
            }
        }
    }

    #header{
        position: fixed; top: calc(100vh - 150px); left: 50%;
        transform: translateX(-50%);
        width: 80%; background: rgba(255, 255, 255, .8);
        box-shadow: 0 0 5px rgba($color: $main, $alpha: .3); z-index: 999999;
        border-radius: 50px; transition: .3s;
        .container{
            .nav{
                width: 100%; height: 70px;
                @include flex(null, center, between, nowrap);
                .flex{
                    width: 100%;
                    @include flex(null, center, between, nowrap);
                    h2{
                        width: 56px; margin-right: 30px;
                        @media (max-width: 640px) {
                            margin-right: 5px;
                        }
                        @media (max-width: 575px) {
                            width: 30px; min-width: 25px;
                        }
                    }
                    >ul{
                        @include flex(null, null, null, nowrap);
                        >li{
                            position: relative;
                            >a{
                                font-weight: bold; font-size: 18px; text-transform: uppercase;
                                padding: 3px 10px;
                                @media (max-width: 760px) {
                                    font-size: 16px; white-space: nowrap;
                                }
                                @media (max-width: 660px) {
                                    font-size: 14px;
                                }
                                @media (max-width: 660px) {
                                    font-size: 13px;
                                }
                                @media (max-width: 510px) {
                                    padding: 3px 5px; font-size: 11px;
                                }
                                @media (max-width: 400px) {
                                    font-size: 12px;
                                }
                            }
                            &:last-child{
                                a{
                                    padding-right: 0;
                                }
                            }
                            >ul{
                                background: rgba(255, 255, 255, .8);
                                display: none; width: 100%;
                                position: absolute; top: 46px;
                                border: 1px solid $main; border-top: 0;
                                >li{
                                    width: 100%;
                                    >a{
                                        display: block; padding: 7px 5px; font-size: 16px;
                                    }
                                    &:hover{
                                        a{
                                            background: $sub; color: $main;
                                        }
                                    }
                                }
                            }
                            &:hover{
                                >a{color: $main;}
                            }
                            &:hover:before{
                                content: "";
                                display: block; width: 5px; height: 5px;
                                border-radius: 50%; background: $main;
                                position: absolute; top: -5px; left: 50%;
                            }
                            &.on{
                                >a{color: $main;}
                                &:before{
                                    content: "";
                                    display: block; width: 5px; height: 5px;
                                    border-radius: 50%; background: $main;
                                    position: absolute; top: -5px; left: 50%;
                                }
                            }
                        }
                    }
                    .weather{
                        text-align: center; width: 50px;
                        .weather-text{
                            font-size: 10px;
                        }
                        .weather-icon{
                            width: 50px; height: 50px;
                            img{
                                width: 100%;
                                filter: drop-shadow(0 0 3px rgba(0, 0, 0, .5));
                            }
                            @media (max-width: 660px) {
                                width: 35px; height: 35px; margin-left: 5px;
                            }
                            @media (max-width: 510px) {
                                width: 25px; height: 25px; margin-left: 5px;
                            }
                        }
                        @media (max-width: 510px) {
                            width: 30px; height: 30px;
                        }
                        @media (max-width: 400px) {
                            display: none;
                        }
                    }
                }
            }
        }
        &.on{
            top: 0; left: 0;
            transform: translateX(0); border-radius: 0; width: 100%;
            box-shadow: 0 2px 5px #ededed;
            .container{
                .nav{
                    .flex{
                        width: 100%;
                        @include flex(null, null, between, nowrap);
                    }
                    .weather{
                        display: none;
                    }
                }
            }
        }
    }
    /* 메뉴바 끝 */

    #section1{
        width: 100%; height: 100%;
        background: rgba($color: $main, $alpha: .15);
        background: linear-gradient(#e3edfe, #b6d3ff);
        .cloud{
            width: 100%; height: 100%; overflow: hidden;
            position: relative; top: 0; left: 0;
            img{
                position: absolute;
                &.sky1{
                    opacity: .2; bottom: calc(90% - 100%); width: calc(100% - 65%); min-width: 400px;
                }
                &.sky2{
                   bottom: calc(80% - 100%); width: calc(100% - 50%); min-width: 600px;
                }
                &.skytr{
                    transform: scaleX(-1);
                }
                &.skyab1{
                    left: calc(100% - 90%);
                }
                &.skyab2{
                    right: calc(100% - 90%);
                }
                &.skyab3{
                    left: calc(85% - 100%);
                }
                &.skyab4{
                    right: calc(85% - 100%);
                }
            }
        }
        .star-area{
            position: absolute; top: 0; left: 0;
            width: 100%; height: 100%; overflow: hidden;
            >div{
                border-radius: 50%; background: $white;
                position: absolute;
                &.star{
                    width: 5px; height: 5px;
                    &:nth-child(1){
                        top: calc(100% - 80%); left: calc(100% - 93%);
                    }
                    &:nth-child(2){
                        top: calc(100% - 92%); left: calc(100% - 66%);
                    }
                    &:nth-child(3){
                        top: calc(100% - 52%); left: calc(100% - 80%);
                    }
                    &:nth-child(4){
                        bottom: calc(100% - 66%); left: calc(100% - 48%);
                    }
                    &:nth-child(5){
                        top: calc(100% - 89%); right: calc(100% - 90%);
                    }
                    &:nth-child(6){
                        top: calc(100% - 75%); right: calc(100% - 72%);
                    }
                    &:nth-child(7){
                        top: calc(100% - 47%); right: calc(100% - 79%);
                    }
                }
                &.star2{
                    width: 10px; height: 10px; cursor: pointer; animation: star 3s ease-in-out infinite;
                    &::before{
                        content: ""; display: block; width: 150px;
                        height: 4px; position: absolute; top: 50%; transform: translateY(-50%);
                        background: linear-gradient(90deg, $white, transparent);
                    }
                    @keyframes star {
                        0%{transform: rotate(315deg) translateX(0);}
                        60%{opacity: 1;}
                        100%{transform: rotate(315deg) translateX(-1000px); opacity: 0;}
                    }
                    &:nth-child(8){
                        top: calc(100% - 85%); left: calc(100% - 82%);
                        animation-delay: .4s;
                    }
                    &:nth-child(9){
                        bottom: calc(100% - 75%); left: calc(100% - 55%);
                        animation-delay: .9s;
                    }
                    &:nth-child(10){
                        top: calc(100% - 90%); right: calc(100% - 61%);
                    }
                    &:nth-child(11){
                        top: calc(100% - 66%); right: calc(100% - 82%);
                        animation-delay: .5s;
                    }
                }
            }
        }
        h1{
            position: absolute; top: 30%; left: 50%;
            width: calc(100% - 60%); transform: translateX(-50%);
            >img{
                width: 100%;
            }
        }
    }
    /* 1페이지(표지) 끝 */

    #section2{
        width: 100%; margin: 150px 0;
        .aboutme{
            padding: 20px 0; margin-bottom: 150px; height: 245px;
            background: rgba($color: #DBF2FF, $alpha: .2);
            font-size: 16px;
            .container{
                position: relative;
                .aboutme-wrap{
                    @include flex(null, null, around, nowrap);
                    white-space: nowrap; line-height: 180%;
                    >div{
                        display: inline-block;
                        &.profile{
                            margin-top: -60px; box-shadow: 0 0 3px rgba($color: $main, $alpha: .45);
                            padding: 30px 50px; background: $white;
                            @include flex(column, center, center, nowrap);
                            transform: rotate(-5deg);
                            .jiw{
                                width: 135px; height: 170px; background: #DBF2FF;
                                margin-bottom: 10px; overflow: hidden;
                                img{
                                    width: 100%;
                                }
                            }
                            .clip{
                                position: absolute; top: -36px; left: 20px;
                                width: 35px; height: 93px; transform: rotate(5deg);
                                img{width: 100%;}
                            }
                        }
                    }
                }
            }
            @media (max-width: 1230px) {
                font-size: 14px;
                .career{margin: 0 15px;}
            }
            @media (max-width: 885px) {
                .career{margin: 0 10px;}
            }
            @media (max-width: 850px) {
                font-size: 12px;
                .career{margin: 0 10px 0 8px;}
            }
            @media (max-width: 750px) {
                height: auto; text-align: center; font-size: 12px;
                .container{
                    .aboutme-wrap{
                        @include flex(column, null, null, wrap);
                        flex-direction: column; white-space: inherit;
                        .profile{
                            width: 270px; height: 350px; margin: -60px auto 0 auto;
                        }
                        .career{
                            margin: 45px auto 30px auto;
                        }
                        .certificate{
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        .container{
            .skill-wrap{
                width: 100%;
                @include grid(null);
                grid-gap: 15px;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); -ms-grid-columns: repeat(auto-fit, minmax(400px, 1fr));
                >div{
                    position: relative; padding: 40px;
                    border: 1px solid $grey; border-radius: 30px;
                    h5{
                        font-size: 24px; font-weight: bold; text-transform: uppercase;
                        position: absolute; top: -20px; left: 10%;
                        background: #fff; text-align: center;
                    }
                    &.web-skill{
                        h5{
                            width: 75px; color: $main;
                        }
                        ul{
                            li{
                               &.on{
                                border-left: 3px solid $main;
                                a{
                                    i{
                                        color: $main;
                                    }
                                }
                                p{
                                    display: block;
                                }
                               } 
                               .num{
                                    .num-bar{
                                        background: $main;
                                    }
                               }
                            }
                        }
                    }
                    &.design-skill{
                        @media (max-width: 1090px) {
                            margin-top: 50px;
                        }
                        h5{
                            width: 115px; color: magenta;
                        }
                        ul{
                            li{
                                &.on{
                                    border-left: 3px solid magenta;
                                    a{
                                        i{
                                            color: magenta;
                                        }
                                    }
                                    p{
                                        display: block;
                                    }
                                }
                                .num{
                                    .num-bar{
                                        background: magenta;
                                    }
                               }
                                
                            }
                        }
                    }
                    ul{
                        li{
                            position: relative;
                            border-left: 3px solid $grey;
                            padding: 0 10px; margin-bottom: 10px;
                            &:last-child{margin-bottom: 0;}
                            a{
                                font-size: 14px; line-height: 24px; font-weight: 600;
                                @include flex(null, center, between, nowrap);
                                width: 100%;
                                i{
                                    color: $grey;
                                }
                            }
                            p{
                                display: none; width: 90%; text-align: justify;
                            }
                            .num{
                                position: absolute; top: 8px; right: 40px;
                                background: #ccc; width: 40%; height: 11px;
                                border-radius: 30px;
                                .num-bar{
                                    width: 0; height: 100%; border-radius: 30px;
                                }
                                .num-progress{
                                    font-size: 10px;
                                    position: absolute; top: -3px; right: 5px;
                                }
                            }
                        }
                    }
                }
                @media (max-width: 750px){
                    >div{padding: 20px 15px; border-radius: 20px;}
                }
                @media (max-width: 500px) {
                    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); -ms-grid-columns: repeat(auto-fit, minmax(230px, 1fr));
                }
                @media (max-width: 475px){
                    >div ul li a{font-size: 12px;}
                    >div ul li .num{width: 23%;}
                }
            }
        }
    }
    /* 2페이지 끝(about me) */

    #section3{
        margin: 150px 0; position: relative;
        #project-web{
            margin-top: 70px; margin-bottom: 250px;
            .web-area{
                margin: 0 auto; position: relative;
                .web-areawrap{
                    width: 100%; height: 650px; overflow: hidden;
                    .web-wrap{
                        @include flex(null, center, null, nowrap);
                        li{
                            width: 65%; height: 90%; margin: 0 30px;
                            border-radius: 20px; padding: 0 20px;
                            box-shadow: 0 0 5px $main;
                            @include flex(null, center, null, nowrap);
                            &.on{
                                height: 98%;
                            }
                            .web-img{
                                overflow: hidden;
                                img{
                                    width: 100%; position: relative; left: 50%; transform: translateX(-50%);
                                }
                                @media (max-width: 530px){margin-top: 30px;}
                            }
                            .web-text{
                                margin-left: 30px; height: 70%;
                                .title{
                                    font-size: 24px; font-weight: 600; white-space: nowrap;
                                    @media (max-width: 420px){font-size: 20px; white-space: inherit;}
                                }
                                .point{
                                    margin-bottom: 30px;
                                    span{
                                        margin-right: 10px; font-size: 16px;
                                        &:before{
                                            content: "#"; color: $main; margin-right: 5px;
                                            font-size: 15px;
                                        }
                                        @media (max-width: 420px){font-size: 14px;}
                                    }
                                }
                                table{
                                    border-spacing: 0 7px; font-size: 16px;
                                    caption{display: none;}
                                    colgroup{
                                        .w3{width: 40%;}
                                        .w7{width: 60%;}
                                    }
                                    @media (max-width: 1320px){
                                        font-size: 14px;
                                        tr{display: block;}
                                        tr th,td{display: block; margin-top: 5px;}
                                    }
                                }
                                .web-ex{
                                    font-size: 16px; text-align: justify; margin-top: 20px;
                                    line-height: 150%;
                                    @media (max-width: 1035px){
                                        font-size: 14px; margin-top: 0;
                                    }
                                }
                                .web-btn{
                                    position: absolute; bottom: 3%; right: 5%;
                                    a{
                                        display: inline-block; font-size: 18px; white-space: nowrap;
                                        font-weight: 600; background-color: $white;
                                        border: 3px solid $main; padding: 10px 30px;
                                        border-radius: 10px; transition: .3s;
                                        color: $main;
                                        &.style-gurid{
                                            margin-right: 5px;
                                        }
                                        i{
                                            margin-left: 7px;
                                        }
                                        &:hover{
                                            background: $main; color: $white;
                                        }
                                    }
                                    @media (max-width: 1000px) {
                                        bottom: 2%; right: 3%;
                                    }
                                    @media (max-width: 750px) {
                                        bottom: 90%; right: 3%;
                                    }
                                    @media (max-width: 530px) {
                                        a{padding: 10px 15px; font-size: 13px;}
                                    }
                                    @media (max-width: 420px){
                                        bottom: 91%;
                                    }
                                    @media (max-width: 370px){
                                        font-size: 11px;
                                        a{padding: 7px;}
                                    }
                                }
                                
                            }
                            @media (max-width: 1000px) {
                                flex-direction: column; padding: 20px; margin: 0 20px;
                                .web-img{max-width: 350px; max-height: 300px; margin-bottom: 30px;}
                                .web-text{margin-left: 0;}
                            }
                            @media (max-width: 420px) {
                                margin: 0 10px; margin-left: 20px;
                                .web-img{max-width: 200px; max-height: 250px; min-width: 200px;}
                            }
                        }
                    }
                }
                .btn-play{
                    width: 50px; height: 80px; overflow: hidden;
                    i{
                        color: $main; font-size: 35px;
                    }
                    &:after{display: none;}
                    &:hover{
                        transition: .3s;
                        i{color: #fff;}
                        .btn-bg{
                            width: 80px; height: 80px; background: $main;
                            border-radius: 50%; position: absolute; opacity: .6;
                            z-index: -2;
                        }
                    }
                    &.swiper-button-next{
                        .btn-bg{left: 0;}
                    }
                    &.swiper-button-prev{
                        .btn-bg{right: 0;}
                    }
                }
            }
        }
        /* 웹 프로젝트 끝 */
        .container{
            #project-design{
                .design-wrap{
                    @include grid(center);
                    grid-gap: 15px;
                    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); -ms-grid-columns: repeat(auto-fit, minmax(180px, 1fr));
                    grid-auto-rows: minmax(195px, 350px);
                    li{
                        background: #ddd; position: relative; overflow: hidden;
                        a{
                            display: block; width: 100%; height: 100%;
                            img{
                                width: 100%; height: 100%; object-fit: cover;
                            }
                        }
                        .design-ex{
                            width: 100%; height: 100%; padding: 50px 0;
                            position: absolute; top: 100%; left: 0;
                            background: rgba($color: #000, $alpha: .8);
                            transition: .3s;
                            >p{
                                color: $white; text-align: center; white-space: nowrap;
                                &.detext{
                                    font-size: 13px; font-weight: 600;
                                }
                                &.deprg{
                                    font-size: 12px; margin-top: 10px;
                                }
                            }
                            .deicon{
                                text-align: center;
                                a{
                                    display: block;
                                    span{
                                        font-weight: 600;
                                        &.ps{
                                            color: #00a9ff;
                                        }
                                        &.ai{
                                            color: #ff9a00;
                                        }
                                        &.id{
                                            color: #ff3366;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover{
                            .design-ex{
                                top: 0;
                            }
                        }
                    }
                }
                .bigdeproject{
                    position: fixed; top: 0; left: 0;
                    width: 100%; height: 100%; z-index: 9999999;
                    background: rgba(66, 57, 72, .5);
                    display: none;
                    .bigdeproject-wrap{
                        display: none; position: absolute;
                        top: 50%; left: 50%; transform: translate(-50%, -50%);
                        width: 70%; height: 95%; overflow: hidden;
                        img{
                            width: 100%; position: relative; top: 50%; transform: translateY(-50%);
                        }
                        &.on{
                            display: block;
                        }
                    }
                    >p{
                        position: absolute; top: 6%; left: 17%; color: #333;
                    }
                    .btn{
                        width: 50px; height: 50px; cursor: pointer;
                        border: none; border-radius: 50%; background: $main;
                        position: fixed; top: 7%; left: 14%;
                        font-weight: 600; font-size: 24px; color: #fff;
                    }
                }
            }
        }
        /* 디자인 프로젝트 끝 */
    }
    /* 3페이지 끝(project) */

    #footer{
        overflow: hidden; margin-top: 150px; padding: 0 0 100px 0;
        position: relative;
        &::before{
            content: ""; position: absolute;
            background: url(../img/footer.svg) no-repeat -50px bottom;
            top: 0; left: 0; bottom: -15%; right: 0; z-index: -99999;
            opacity: .2;
        }
        .container{
            .contact-wrap{
                @include flex(null, null, center, nowrap);
                .contact-form{
                    padding: 50px; background: rgba($color: $white, $alpha: .6);
                    border-radius: 30px; box-shadow: 0 0 5px #dfdfdf;
                    form{
                        label{
                            font-size: 16px; font-weight: 600;
                        }
                        input{
                            border: none; font-size: 14px; display: block;
                            margin-top: 5px; margin-bottom: 15px; background: transparent;
                            &[type=text]{
                                padding: 5px; width: 350px; border-bottom: 1px solid $main;
                                @media (max-width: 659px) {width: 200px;}
                                @media (max-width: 505px) {width: 100%;}
                            }
                            &#fmessage{
                                height: 200px;
                            }
                        }
                        textarea{
                            display: block; border: none; font-size: 14px;
                            margin-top: 5px; margin-bottom: 15px; padding: 5px;
                            width: 350px; height: 200px; border-bottom: 1px solid $main;
                            color: rgb(118, 118, 118); background: transparent;
                            @media (max-width: 659px) {width: 200px;}
                            @media (max-width: 505px) {width: 100%;}
                        }
                        button{
                            cursor: pointer; border-radius: 50px; padding: 5px 15px;
                            font-weight: 600; background: $main; color: $white;
                            margin-top: 20px;
                        }
                    }
                }
                .contact-me{
                    padding: 50px; padding-top: 0; margin-left: 60px;
                    position: relative;
                    .information{
                        strong{
                            font-size: 18px; display: block; margin-bottom: 10px;
                        }
                        dl{
                            font-size: 14px; margin-bottom: 7px;
                            dt{
                                float: left; width: 20px; text-align: center;
                                i{
                                    font-size: 15px;
                                }
                                span{
                                    text-indent: -9999999px; font-size: 0; line-height: 0;
                                }
                            }
                            dd{
                                display: inline;
                            }
                        }
                    }
                    >a{
                        border: 1px solid $main; padding: 10px 20px; border-radius: 10px;
                        font-size: 16px; font-weight: 600; transition: .3s;
                        display: block; margin-top: 50px; text-align: center;
                        &:last-child{margin-top: 20px;}
                        &:hover{
                            background-color: $main; color: $white;
                        }
                        i{margin-left: 7px;}
                    }
                }
                @media (max-width: 1150px) {
                    .contact-me{padding: 0; padding-top: 50px;}
                }
                @media (max-width: 850px) {
                    .contact-me{margin-left: 30px;}
                }
                @media (max-width: 505px) {
                    flex-direction: column; text-align: center;
                }
            }
        }
    }
    /* 4페이지 끝(contact) */

    #topBtn{
        width: 50px; background: rgba($color: $black, $alpha: .5);
        text-align: center; border-radius: 50%; transition: .3s;
        position: fixed; bottom: 30px; right: 30px;
        z-index: 9999;
        display: none;
        &:hover{
            background: rgba($color: $main, $alpha: .6);
        }
        i{
            font-size: 18px; color: #fff; line-height: 50px;
        }
    }
}